.App {
  text-align: center;
}

#googleMap{
  width: 80%;
  height: 200px;
  margin: 20px auto;
}
.map-container{
  width: 100%;
  height: 60vh;
}
/* Posts container */
body {
  background: #000000;
background: linear-gradient(to right, #000000 0%, #694C5C 50%, #090D47 100%);



  
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
}


