.post-form-container {
  background-color: #121212;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  background-image: url(https://c4.wallpaperflare.com/wallpaper/814/464/60/anime-bike-city-girl-wallpaper-preview.jpg);
  background-size: cover;
  background-position: center;

}

.post-form-image,
.post-form-Message,
#startLocation,
#endLocation {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  color: #000000;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.form-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.form-group {
  width: 100%;
}

.control-label {
  display: none;
}

.button-destination {
  background-color: #0095f6;
  border: none;
  border-radius: 5px;
  color: #000000;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}

.map-container {
  height: 300px;
  width: 100%;
  margin-top: 1rem;
}

h1 {
  color: #ffffff;
  margin-bottom: 1rem;
}
h3 {
  color: #ffffff;
  margin-bottom: 1rem;
}

button[type="submit"] {
  background-color: #0095f6;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0.5rem;
  width: 100%;
}